html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    height: 100vh;
}

.svg-border {
    width: 26px;
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
}

.svg-border::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/images/pattern.svg');
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
}

.svg-border.right::before {
    transform: scaleX(-1);
    transform-origin: center;
}

#content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.font-brizel-regular {
    font-family: "brizelregular", "sans-serif";
}

body {
    font-family: "poppinsregular", "sans-serif";
}




.button-link {
    font-family: "brizelregular", "sans-serif";
    border: 2px solid #C03A31;
    border-radius: 30px;
    padding: 10px 15px;
    min-width: 50px;

}

.button-link:hover {
    font-family: "brizelregular", "sans-serif";
    border: 2px solid #F39192;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: #F39192;
    color: #FFFFFF;

}

.button-link a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.button-link a:visited {
    text-decoration: none;
    color: #C03A31;
    background-color: #F39192;
}

.color-primary {
    color: #C03A31;
}

.bg-color-primary {
    background-color: #C03A31;
}

.color-secondary {
    color: #F39192;
}

.bg-color-secondary {
    background-color: #F39192;
}

.color-tertiary {
    color: #FFFFFF;
}

.bg-color-tertiary {
    background-color: #FFFFFF;
}

.min-height-100vh {
    min-height: 100vh !important;

}

@media only screen and (max-width: 991px) {

    #content {
        background-image: url('/images/hero-small.svg');
    }

    #logo {
        width: 50%;
    }

    .global-font-size {
        font-size: 80%;
    }
}

@media only screen and (min-width:992px) {


    #content {
        background-image: url('/images/hero-large.svg');
    }

    #logo {
        width: 20%;
    }

    .global-font-size {
        font-size: 150%;
    }
}